.button {
    background-color: steelblue;
    color: white;
    padding: 10px;
    font-size: 1em;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: .2s;
}

button:hover {
    cursor: pointer;
    background-color: slateblue;
    border: 2px solid white;
    transition: .2s;
}